@charset 'UTF-8';

//  Foundation
@import 'foundation';
@import 'mixins';
@import 'base/base';

// Scroll to top btn
#top {
  display: none;
  width: 50px;
  height: 50px;
  background: rgba($primary-red, 0.7);
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  cursor: pointer;

  @include tablet {
    bottom: 40px;
    right: 40px;

  }
  span {
    color: rgba($primary-gray, 0.5);
    position: absolute;
    font-size: 30px;
    line-height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
  }
}

.jumbo{
  background-image: url(../images/sec1.jpg);
  background-size: 100%;
  background-color: rgba(0, 0, 0, .5);
  background-attachment: inherit;
  padding: 175px 0;
  background-repeat: no-repeat;
  position: relative;

  @include tablet {
    background-attachment: fixed;
  }
}

.jumbo h1{
  text-align: center;
  margin-bottom: 15px;
  font-size: 4em;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.contain-to-grid{
  background: $primary-gray;

  &.fixed {
    + .jumbo{
      margin-top: 60px;
    }

    .title-area {
      height: 60px;
    }
  }
}

.top-bar{
  background: none;
  height: 60px;
  line-height: 60px;

  .nav li a {
    &:hover {
      background-color: $primary-red !important;
    }
  }

  &.expanded {
    .title-area {
      background-color: $primary-gray;
      border-bottom: 1px solid rgba($primary-red, .5);
    }
  }

  .title-area {
    height: 60px;

    @include tablet {
      height: 65px;
    }
  }

  &-section {
    padding-top: 0;

    .nav {

      li:not(.has-form) {
        a:not(.button) {
          @include tablet {
            line-height: 60px;
          }

          @include desktop {
            line-height: 65px;
          }
        }
      }
    }
  }
}

.top-bar .name {
  h1 {
    line-height: 60px;
    a {
        color: #ea421e;
    }
  }

}

.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button){
    background: none;
}

.top-bar-section ul li > a{
  color: $primary-red;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    background: $primary-red;
  }
}

.active{
    text-decoration: underline;
    font-weight: bold !important;
}

.title {
  left: 50%;
  position: relative;
  transform: translateX(-50%);

  &:after {
    bottom: 0;
    border-bottom: 1px solid $primary-red;
    content: '';
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 120px;
  }

}

h3,
.title {
  color: lighten($primary-gray, 10%);

}
footer {
  .title {
    color: $primary-red;
  }
}

section{
  img {
    @include up-to-tablet {
      display: none;
    }
  }

  @include tablet {
    padding-top: 65px;
  }
}

#contact li>ul>li{
    padding: 5px 0;
}


.copy{
    background: #fff;
    padding: 10px 0;
}

.copy p{
    color: #ea421e;
    margin-bottom: 0;
}

.copy a{
    color: #ea421e;
}

ul, ol, dl {
    list-style: none;
}

.th{
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 150px;
}
#portfolio{
    background-color: #ea421e;


}
#portfolio h2,h4{
    color: #fff;
    text-align: center;
}

#portfolio h4{
    margin-bottom: 30px;
}

#portfolio img, #about img{
    display: block;
    margin: 0 auto;
}

.f-topbar-fixed{
    padding-top: 0 !important;
}

button,
.button {
    background-color: $primary-red;
    border-color: $primary-red;

    &:hover {
      background-color: rgba(234, 66, 30, 0.5);
      border-color: $primary-red;
    }
}

.top-bar .toggle-topbar.menu-icon a span:after {
    box-shadow: 0 0 0 1px $primary-gray, 0 7px 0 1px $primary-gray, 0 14px 0 1px $primary-gray;
}

.top-bar .toggle-topbar.menu-icon a {
    padding: 0 30px 0 15px;

}
.top-bar .toggle-topbar.menu-icon {
    background: $primary-red;
    margin-right: 5px;
    margin-top: 0;
    transform: translateY(-50%);
}

@media only screen and (max-width: 800px) {
    .jumbo{
    margin-bottom: 0;
    padding: 50px 0 10px;

    }
    .jumbo h1{
        color: #fff;
        text-align: center;
        margin-bottom: 15px;
        font-size: 2em;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }
}

header {
  .logo {
    width: 114px;
    height: 50px;
    vertical-align: middle;
  }
}

.top-bar.expanded {

  .nav {
    a {
      @include smartphone {
        line-height: 30px !important;
      }
    }
  }
}

