//  Colors
$primary-gray: #363846;
$primary-red: #fe1b22;

// Fonts
$roboto-medium: 'Roboto Medium';
$roboto-regular: 'Roboto Regular';
$roboto-bold: 'Roboto Bold';
$roboto-light: 'Roboto Light';
$roboto-thin: 'Roboto Thin';

// Media Queries widths
$width-smartphone:  479px;
$width-tablet:      641px;
$width-desktop:     961px;
$width-xlarge:      1361px;